<template>
  <div id="app">
    <HelloWorld class="title" msg="Welcome to SpaceX API"/>
    <Search
      @handleSearch="handleSearch($event)"
      @handleChange="handleChange($event)"
      @resetSearch="resetSearch"
      :selectedSearchMethod="selectedSearchMethod"
    />
    <Results @updateStatus="updateStatus($event)" :launches="launches"/>
    <Searching :search="search"/>
    <Errors :search="search"/>
    <Success :search="search"/>
  </div>
</template>

<script>
import HelloWorld from "@/components/HelloWorld";
import Search from "@/components/Search";
import Results from "@/components/Results";
import Searching from "@/components/Searching";
import Errors from "@/components/Errors";
import Success from "@/components/Success";

/* eslint-disable */

export default {
  name: "app",
  components: {
    HelloWorld,
    Search,
    Results,
    Searching,
    Errors,
    Success
  },
  data: function() {
    return {
      selectedSearchMethod: "launch",
      launches: [],
      search: {
        isSearching: false,
        hasError: false
      }
    };
  },
  methods: {
    handleSearch(event) {
      this.search[event.key] = event.val;
    },
    updateStatus(event) {
      this.search[event.key] = event.val;
      for (var i = 0; this.launches.length; i++) {
        if (this.launches[i].flight_number == event.val) {
          this.launches[i].launch_success = !this.launches[i].launch_success;
          break;
        }
      }
    },
    resetSearch() {
      this.search.hasError = false;
      this.launches = [];
    },
    handleChange(event) {
      this[event.key] = event.val;
    }
  }
};
</script>

<style lang="css">
body {
  background: black;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  z-index: 9999;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.title {
  color: #fff;
  font-size: 25px;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

canvas {
  position: absolute;
  top: 0;
}
</style>
