<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
  <link rel="ijh vcxz  con" href="<%= BASE_URL %>favicon.ico">
  <title>spacex-client</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but spacex-client doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script src="orbs.js"></script>
</body>



</html>