/* Setup */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: \201c \201d \2018 \2019;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,
figure {
	margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Custom styles */

@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono|PT+Sans");

:root {
	--grey: #ababab;
	--black: #222;
}

html {
	font-size: 62.5%;
}

body {
	background: url("../wifi_background.png"),
		linear-gradient(110deg,
		hsl(295.83, 100%, 45.1%) 0%,
		hsl(294.53, 80.44%, 50.88%) 6.6%,
		hsl(292.31, 79.41%, 55.26%) 12.3%,
		hsl(289.45, 78.75%, 58.84%) 17.4%,
		hsl(285.95, 78.33%, 61.98%) 22.2%,
		hsl(281.88, 78.11%, 64.74%) 26.7%,
		hsl(277.1, 78.04%, 67.29%) 31.1%,
		hsl(271.56, 78.12%, 69.67%) 35.4%,
		hsl(265.21, 78.33%, 71.87%) 39.6%,
		hsl(258.02, 78.69%, 73.93%) 43.7%,
		hsl(249.72, 79.2%, 75.89%) 47.8%,
		hsl(240.17, 79.87%, 77.75%) 51.9%,
		hsl(230.86, 83.17%, 76.56%) 56%,
		hsl(223.05, 86.25%, 75.21%) 60.2%,
		hsl(216.62, 88.98%, 73.79%) 64.4%,
		hsl(211.21, 91.44%, 72.27%) 68.7%,
		hsl(206.65, 93.62%, 70.63%) 73.1%,
		hsl(202.78, 95.54%, 68.86%) 77.7%,
		hsl(199.54, 97.18%, 66.97%) 82.5%,
		hsl(196.86, 98.55%, 64.95%) 87.7%,
		hsl(194.83, 99.56%, 63%) 93.5%,
		hsl(193.92, 100%, 61.96%) 100%);
	background-blend-mode: multiply;
	min-height: 100vh;
	font-family: "PT Sans", sans-serif;
	font-size: 1.6rem;
	color: var(--black);
}

.wrapper {
	width: 95%;
	max-width: 800px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-gap: 20px;
}

.wrapper>* {
	grid-column: 2 / -2;
	grid-template-columns: 1fr;
}

section {
	display: grid;
	padding: 20px;
	background: rgba(255, 255, 255, 1);
	border-radius: 5px;
}

h1 {
	font-family: "Oxygen Mono", monospace;
	font-size: 4.5rem;
}

h1,
h2 {
	text-align: center;
}