<template>
  <section class="results" v-if="launches.length">
    <h2>Matching Results</h2>
    <ul class="list" v-if="launches">
      <li v-for="(launch, i) in launches" :key="i" class="result">
        <div class="result__meta" v-if="launch.mission_name">
          <strong>Mission Name:{{launch.mission_name}}</strong>
          <div>
            Launch success: {{ launch.launch_success ? 'true' : 'false' }}
            <button
              @click="post(launch.flight_number)"
            >Switch</button>
            <span v-show="launch.launch_success == true" style>👍</span>
            <span v-show="launch.launch_success == false">👎</span>
          </div>
        </div>
        <div v-show="launch.rocketrocket_id">
          <div>Rocket Name: {{launch.rocketrocket_name}}🚀</div>
          <div>Rocket Id: {{launch.rocketrocket_id}}</div>
        </div>
        <div v-if="launch.flight_number">
          <span>Flight Number: {{launch.flight_number}}</span>
          <span style="margin-left:5px;">👩‍🚀</span>
        </div>
        <div v-if="launch.launch_date_utc">
          <span>Launch Date: {{launch.launch_date_utc}}⌛</span>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
import axios from "axios";
export default {
  name: "Results",
  props: ["launches"],
  methods: {
    post(flightNumber) {
      this.$emit("handleSearch", {
        key: "isSearching",
        val: true
      });

      axios
        .post(`http://localhost:3000/api/v1/update/${flightNumber}`)
        .then(response => {
          // eslint-disable-next-line
          if (response.status == 200) {
            this.$emit("updateStatus", {
              key: "flightNumber",
              val: flightNumber
            });
          }
        })
        .catch(error => {
          // eslint-disable-next-line
          console.log(error);
        });

      this.$emit("handleSearch", {
        key: "isSearching",
        val: false
      });
    }
  }
};
</script>

<style lang="sass" scoped>
.results
  ul
    display: grid
    grid-gap: 15px
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    list-style-type: none
    margin: 0
    padding: 0
    
.result
  border: 2px solid var(--grey)
  border-radius: 5px
  transition: 0.3s
  text-align: left
  &:hover
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
  a
    display: grid
    grid-gap: 0 20px
    color: inherit
    padding: 10px
    grid-template-columns: 80px 1fr
    text-decoration: none

.result__image
  grid-column: 1 / span 1
  img
    max-width: 100%
    display: block

.rresult__meta
  grid-column: 2 / -2
  display: grid
  align-items: center
  p
    margin: 0

</style>
