<template>
  <section class="search">
    <h1>Search or Update Data</h1>
    <div>Select endpoint type by using the radio buttons below</div>
    <h2>OPTIONS</h2>
    <div>👽 Search all launches by inputing anything below</div>
    <div>👽 Update launch success to true or false by clicking the switch button</div>
    <div>👽 Search rockets by specific rocket id (ex: 'falcon1') if no rocket id, all rockets are returned</div>

    <form @submit.prevent="search">
      <input type="search" name="search" id="search" v-model="q" required>
      <label for="search">Search</label>
      <search-type
        @handleChange="$emit('handleChange', $event)"
        :selectedSearchMethod="selectedSearchMethod"
      />
    </form>
    <div>PS: Add more orbs by clicking and dragging your mouse</div>
  </section>
</template>

<script>
import SearchType from "@/components/SearchType.vue";

export default {
  name: "Search",
  components: { SearchType },
  data() {
    return {
      q: ""
    };
  },
  props: {
    selectedSearchMethod: String
  },
  methods: {
    async search() {
      this.$emit("handleSearch", {
        key: "isSearching",
        val: true
      });

      this.$emit("resetSearch");
      const response = await fetch(this.endpoint);
      const json = await response.json();

      let items = json.launches;

      this.$emit("handleSearch", {
        key: "isSearching",
        val: false
      });

      if (items.length) {
        this.$emit("handleChange", {
          key: "launches",
          val: items
        });
      } else {
        this.$emit("handleSearch", {
          key: "hasError",
          val: true
        });
      }
    }
  },
  computed: {
    endpoint() {
      if (this.selectedSearchMethod === "launch") {
        return `http://localhost:3000/api/v1/launchs`;
      } else if (this.selectedSearchMethod === "rocket") {
        return `http://localhost:3000/api/v1/launch/${this.q}`;
      } else {
        return ``;
      }
    }
  }
};
</script>

<style lang="sass" scoped>

.search
  display: grid
  justify-content: center
  form
    position: relative
    label
      position: absolute
      left: 6px
      top: 10px
      color: black;
      background: white
      padding: 5px
      line-height: 1
      transition: 0.25s ease;
    input
      width: 100%
      box-sizing: border-box
      padding: 10px
      border-radius: 5px
      border: 2px solid var(--grey)
      &:hover,
      &:active,
      &:focus,
      &:valid
        &~ label
          top: -13px

</style>
