<template>
  <section class="errors" v-if="search.updated">
    <h2>{{ updateMessage }}</h2>
  </section>
</template>

<script>
export default {
  name: "Success",
  data() {
    return {
      updateMessage: "That entry has been updated"
    };
  },
  props: ["search"]
};
</script>

